.form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  h2, h3 {text-align: center;}
  form {
    display: flex;
    flex-direction: column;
    input {
      height: 3em;
      border-radius: 6px;
      border-width: 1px;
      margin-bottom: 1em;
      padding-left: 1em;
      &:focus {
        outline-color: #395EAC;
      }
    }
  }
}